name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: yarn
    - name: Build
      run: yarn build

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: yarn
    - name: Test
      run: yarn test
